/*
vim: syntax=groovy
-*- mode: groovy;-*-
* -------------------------------------------------
* LIBD-RNAseq Nextflow config file
* -------------------------------------------------
* Default config options for all environments.
* Cluster-specific config options should be saved
* in the conf folder and imported under a profile
* name here.
*/

// Profiles

nextflowVersion = '>=0.27.0'  // a "soft" requirement for minimum version

profiles {
    local {
        includeConfig 'conf/local.config'
        includeConfig 'conf/command_paths_long.config'
    }
    
    docker_local {
        includeConfig 'conf/docker_local.config'
        includeConfig 'conf/command_paths_short.config'
    }
    
    sge {
        includeConfig 'conf/sge.config'
        includeConfig 'conf/command_paths_long.config'
    }
    
    docker_sge {
        includeConfig 'conf/docker_sge.config'
        includeConfig 'conf/command_paths_short.config'
    }
    
    jhpce {
        includeConfig 'conf/jhpce.config'
        includeConfig 'conf/command_paths_short.config'
    }
    
    slurm {
        includeConfig 'conf/slurm.config'
        includeConfig 'conf/command_paths_long.config'
    }
    
    docker_slurm {
        includeConfig 'conf/docker_slurm.config'
        includeConfig 'conf/command_paths_short.config'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Define the manifest
manifest {
  homePage = 'https://www.libd.org/'
  description = 'The Lieber Institute for Brain Development conducts research in order to advance the understanding of brain disorders and help those affected by them'
  mainScript = 'main.nf'
}
