/*
vim: syntax=groovy
-*- mode: groovy;-*-
* -------------------------------------------------
* LIBD-RNAseq Nextflow config file
* -------------------------------------------------
* Default config options for all environments.
* Cluster-specific config options should be saved
* in the conf folder and imported under a profile
* name here.
*/

// Profiles

profiles {

  standard {

    docker {
      enabled = true
      temp = 'auto'
    }

    process {
      executor = 'local'
      $pullGENCODEassemblyfa.container = 'libddocker/ubuntu16.04_base:latest'
      $buildHISATindex.container = 'libddocker/hisat2-2.0.4:latest'
      $pullGENCODEgtf.container = 'libddocker/ubuntu16.04_base:latest'
      $buildPrepBED.container = 'libddocker/r3.4.3_base:latest'
      $pullGENCODEtranscripts.container = 'libddocker/ubuntu16.04_base:latest'
      $buildSALMONindex.container = 'libddocker/salmon-0.8.2:latest'
      $sampleMerging.container = 'libddocker/ubuntu16.04_base:latest'
      $sampleERCC.container = 'libddocker/kallisto_v0.43.1:latest'
      $sampleIndividualManifest.container = 'libddocker/ubuntu16.04_base:latest'
      $sampleManifest.container = 'libddocker/ubuntu16.04_base:latest'
      $sampleQualityUntrimmed.container = 'libddocker/fastqc_v0.11.5:latest'
      $sampleAdaptiveTrimSingleReads.container = 'libddocker/ubuntu16.04_base:latest'
      $sampleAdaptiveTrimPairedReads.container = 'libddocker/ubuntu16.04_base:latest'
      $sampleTrimming.container = 'libddocker/trimmomatic-0.36:latest'
      $sampleQualityTrimmed.container = 'libddocker/fastqc_v0.11.5:latest'
      $sampleSingleEndHISAT.container = 'libddocker/hisat2-2.0.4:latest'
      $samplePairedEndNoTrimHISAT.container = 'libddocker/hisat2-2.0.4:latest'
      $samplePairedEndTrimmedHISAT.container = 'libddocker/hisat2-2.0.4:latest'
      $sampleSamtoBam.container = 'libddocker/samtools-1.2:latest'
      $sampleInferExperiment.container = 'libddocker/rseqc-v2.6.4:latest'
      $sampleInferStrandness.container = 'libddocker/r3.4.3_base:latest'
      $sampleFeatureCounts.container = 'libddocker/subread-1.6.0:latest'
      $samplePrimaryAlignments.container = 'libddocker/samtools-1.2:latest'
      $sampleJunctions.container = 'libddocker/regtools-0.3.0:latest'
      $sampleCoverage.container = 'libddocker/rseqc-v2.6.4:latest'
      $sampleWigToBigWig.container = 'libddocker/wiggletools-1.2:latest'
      $sampleMeanCoverage.container = 'libddocker/wiggletools-1.2:latest'
      $sampleTXQuant.container = 'libddocker/salmon-0.8.2:latest'
      $sampleCreateCountObjects.container = 'libddocker/r3.4.3_base:latest'
      $sampleCreateCoverageObjects.container = 'libddocker/r3.4.3_base:latest'
      $sampleVariantCalls.container = 'libddocker/bcftools-1.3.1:latest'
      $sampleVariantCallsMerge.container = 'libddocker/vcftools-v0.1.15:latest'
      $sampleExpressedRegions.container = 'libddocker/r3.4.3_base:latest'
    }

  }

  sge {
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Define the output directory for pipeline reports
params.logging = './pipeline_log'

// Enable the timeline output
timeline {
 enabled = true
 file = "${params.logging}/LIBD-RNAseq_pipeline.html"
}

// Enable the trace output
trace {
 enabled = true
 file = "${params.logging}/LIBD-RNAseq_trace.txt"
}

// Define the manifest
manifest {
  homePage = 'https://www.libd.org/'
  description = 'The Lieber Institute for Brain Development conducts research in order to advance the understanding of brain disorders and help those affected by them'
  mainScript = 'main.nf'
}
