/*
vim: syntax=groovy
-*- mode: groovy;-*-
* -------------------------------------------------
* LIBD-RNAseq Nextflow config file
* -------------------------------------------------
* Default config options for all environments.
* Cluster-specific config options should be saved
* in the conf folder and imported under a profile
* name here.
*/

// Profiles

nextflowVersion = '>=0.27.0'  // a "soft" requirement for minimum version

profiles {
    local {
        includeConfig 'conf/local.config'
        //includeConfig 'conf/command_paths_long.config'
        includeConfig 'conf/command_paths_local_short.config'
    }

    localM {
        includeConfig 'conf/localM.config'
        includeConfig 'conf/command_paths_local_short.config'
    }

    localMk20 {
        includeConfig 'conf/localMk20.config'
        includeConfig 'conf/command_paths_local_short.config'
    }

    localMk60 {
        includeConfig 'conf/localMk60.config'
        includeConfig 'conf/command_paths_local_short.config'
    }

    localOk60 {
        includeConfig 'conf/localOk60.config'
        includeConfig 'conf/command_paths_local_short.config'
    }
    
    sge {
        includeConfig 'conf/sge.config'
        includeConfig 'conf/command_paths_long.config'
    }
    
    jhpce {
        includeConfig 'conf/jhpce.config'
        includeConfig 'conf/command_paths_short.config'
    }

    jhpceM {
        includeConfig 'conf/jhpceM.config'
        includeConfig 'conf/command_paths_short.config'
    }

    jhpceMk20 {
        includeConfig 'conf/jhpceMk20.config'
        includeConfig 'conf/command_paths_short.config'
    }

    jhpceMk60 {
        includeConfig 'conf/jhpceMk60.config'
        includeConfig 'conf/command_paths_short.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
        includeConfig 'conf/command_paths_long.config'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Define the manifest
manifest {
  homePage = 'https://www.libd.org/'
  description = 'The Lieber Institute for Brain Development conducts research in order to advance the understanding of brain disorders and help those affected by them'
  mainScript = 'main.nf'
}
