/*
vim: syntax=groovy
-*- mode: groovy;-*-
* -------------------------------------------------
* LIBD-RNAseq Nextflow config file
* -------------------------------------------------
* Default config options for all environments.
* Cluster-specific config options should be saved
* in the conf folder and imported under a profile
* name here.
*/

//Reference builder config
// Start a docker flag variable as false to use when defining the command paths configuration file to use
params.docker_flag = false
params {

/* For process buildHISATindex */
        hisat2build = "hisat2-build"
        //hisat2build = "/usr/local/bin/hisat2-build"

/* For process buildSALMONindex
and for process TXQuant */
        salmon = "salmon"
        // salmon = "/usr/local/bin/salmon"
}

        profiles {
                        standard {
                                        includeConfig 'conf/mem_rb.config'
                                }
                        docker {
                                        includeConfig 'conf/docker_rb.config'
                                        params.docker_flag = true
                                }
                        sge {
                                        includeConfig 'conf/sge_rb.config'
                                }
                        sge_large {
                                        includeConfig 'conf/sge_large_rb.config'
                                }
                        quick {
                                        includeConfig 'conf/quick.config'
                                }
        }

        if (params.docker_flag)
        {
                // Load configuration values for paths to software commands used by the pipeline
                includeConfig 'conf/docker_command_paths_rb.config'
        }
        else
        {
                // Load configuration values for paths to software commands used by the pipeline
                includeConfig 'conf/command_paths_rb.config'
        }



