//  "Short" command paths for the use of the pipeline with lmod modules
//  or docker containers pulled on-the-fly. In these cases, the software
//  locations are on the PATH or managed by nextflow in such a way that
//  they need not be specified explicitly.

params {
  // For process buildPrepBed, InferStrandness, CountObjects, CoverageObjects,
  // and ExpressedRegions
  Rscript = "Rscript"
  
  // For process InferExperiment, Junctions, Coverage
  python = "python"
  
  // For process buildHISATindex
  hisat2build = "hisat2-build"
  
  // For processes buildSALMONindex and TXQuant
  salmon = "salmon"
  
  // For process ERCC
  kallisto = "kallisto"
  
  // For processes QualityUntrimmed and QualityTrimmed
  fastqc = "fastqc"
  
  // For process Trimming
  trimmomatic = "trimmomatic-0.36.jar"
  
  // For processes SingleEndHISAT, PairedEndNoTrimHISAT and PairedEndTrimmedHISAT
  hisat2 = "hisat2"
  
  // For processes SamtoBam, PrimaryAlignments and VariantCalls
  samtools = "samtools"
  
  // For process FeatureCounts
  featureCounts = "featureCounts"
  
  // For process Junctions
  regtools = "regtools"
  
  // For process InferExperiment
  infer_experiment = "infer_experiment.py"
  
  // For process Coverage
  bam2wig = "bam2wig.py"
  
  // For processes WigToBigWig and MeanCoverage
  wigToBigWig = "wigToBigWig"
  
  // For process MeanCoverage
  wiggletools = "wiggletools"
  
  // For processes VariantCalls and VariantsMerge
  bcftools = "bcftools"
  tabix = "tabix"
}
