//  "Short" command paths for the use of the pipeline with lmod modules
//  or docker containers pulled on-the-fly. In these cases, the software
//  locations are on the PATH or managed by nextflow in such a way that
//  they need not be specified explicitly.

params {
  use_long_paths = false
  
  // For processes InferStrandness, CountObjects, CoverageObjects,
  // and ExpressedRegions
  Rscript = "Rscript"
  
  // For process buildHISATindex
  hisat2build = "hisat2-build"
  
  // For processes buildSALMONindex and TXQuantSalmon
  salmon = "salmon"
  
  // For processes InferStrandness, BuildKallistoIndex, TXQuantKallisto, and ERCC
  kallisto = "kallisto"
  
  // For processes QualityUntrimmed and QualityTrimmed
  fastqc = "fastqc"
  
  // For process Trimming
  trimmomatic = "trimmomatic-0.39.jar"
  adapter_fasta_paired = "TruSeq3-PE-2.fa"
  adapter_fasta_single = "TruSeq3-SE.fa"
  
  // For processes SingleEndHISAT and PairedEndHISAT
  hisat2 = "hisat2"
  
  // For process AlignSTAR
  star = "STAR"
  
  // For processes SamtoBam, PrimaryAlignments and VariantCalls
  samtools = "samtools"
  
  // For process FeatureCounts
  featureCounts = "featureCounts"
  
  // For process Junctions
  regtools = "regtools"
  
  // For processes WigToBigWig and MeanCoverage
  wigToBigWig = "wigToBigWig"
  
  // For process MeanCoverage
  wiggletools = "wiggletools"
  bc = "bc"
  
  // For processes VariantCalls and VariantsMerge
  bcftools = "bcftools"
  tabix = "tabix"
  
  // For process VariantsMerge
  bgzip = "bgzip"
}
