// The params block defines the paths that the pipeline will use to make command calls.
// short and long alternatives are defined; long alternatives are commented out by default.

// default paths were defined to work in Winter Genomics testing server

params {

/* For process buildHISATindex */
	hisat2build = "hisat2-build"
	//hisat2build = "/usr/local/bin/hisat2-build"

/* For process buildSALMONindex
and for process TXQuant */
	salmon = "salmon"
	// salmon = "/usr/local/bin/salmon"

/* For process ERCC */
	kallisto = "kallisto"
	// kallisto = "/usr/local/bin/kallisto"

/* For process QualityUntrimmed
and for process QualityTrimmed */
	fastqc = "fastqc"
	// fastqc = "usr/bin/fastqc"

/* For process Trimming */
	// only the long path option is provided
	// trimmomatic = "/media/genomics/disco1/Programs/Trimmomatic-0.36/trimmomatic.jar"
    trimmomatic = "/jhpce/shared/jhpce/libd/Trimmomatic/0.36/Trimmomatic-0.36/trimmomatic-0.36.jar"

/* For process SingleEndHISAT
and for process PairedEndNoTrimHISAT
and for process PairedEndTrimmedHISAT */
	hisat2 = "hisat2"
	// hisat2 = "/usr/local/bin/hisat2"

/* For process SamtoBam
and for process PrimaryAlignments
and for process VariantCalls */
	samtools = "samtools"
	//samtools = "/usr/local/bin/samtools"

/* For process InferExperiment */
	infer_experiment = "infer_experiment.py"
	//infer_experiment = "/usr/local/bin/infer_experiment.py"

/* For process FeatureCounts */
	featureCounts = "featureCounts"
	//featureCounts = "/usr/local/bin/featureCounts"

/* For process Junctions */
	regtools = "regtools"
	// regtools = "/usr/local/bin/regtools"

/* For process Coverage */
	bam2wig = "bam2wig.py"
	//bam2wig = "/usr/local/bin/bam2wig.py"

/* For process WigToBigWig
and for process MeanCoverage */
	wigToBigWig = "wigToBigWig"
	//wigToBigWig = "/usr/local/bin/wigToBigWig"

/* For process MeanCoverage */
	wiggletools = "wiggletools"
	//wiggletools = "/usr/local/bin/wiggletools"

/* For process VariantCalls */
	bcftools = "bcftools"
	//bcftools = "/usr/local/bin/bcftools"
	tabix = "tabix"
	//tabix = "/usr/local/bin/tabix"

/* For process VariantsMerge */
	vcfmerge = "vcf-merge"
	//vcfmerge = "/usr/bin/vcf-merge"

}
