//  Long command paths, pointing to the pipeline software as installed via
//  `bash install_software.sh` (in the main repository directory). If you have
//  the required software tools installed in the environment you are running
//  the pipeline, you may change these paths manually.

repoDir=System.getProperty("user.dir")

//  At least kallisto needs this to find dependent libraries
env.LD_LIBRARY_PATH="$repoDir/Software/lib:System.getenv('LD_LIBRARY_PATH')"

params {
  use_long_paths = true

  // For processes InferStrandness, CountObjects, CoverageObjects,
  // and ExpressedRegions
  Rscript = "$repoDir/Software/R-4.1.0/bin/Rscript"
  
  // For process buildHISATindex
  hisat2build = "$repoDir/Software/hisat2-2.2.1/hisat2-build"
  
  // For processes buildSALMONindex and TXQuantSalmon
  salmon = "$repoDir/Software/salmon-1.2.1/bin/salmon"
  
  // For processes InferStrandness, BuildKallistoIndex, TXQuantKallisto, and ERCC
  kallisto = "$repoDir/Software/bin/kallisto"
  
  // For processes QualityUntrimmed and QualityTrimmed
  fastqc = "$repoDir/Software/FastQC/fastqc"
  
  // For process Trimming
  trimmomatic = "$repoDir/Software/Trimmomatic-0.39/trimmomatic-0.39.jar"
  adapter_fasta_paired = "$repoDir/Software/Trimmomatic-0.39/adapters/TruSeq3-PE-2.fa"
  adapter_fasta_single = "$repoDir/Software/Trimmomatic-0.39/adapters/TruSeq3-SE.fa"
  
  // For processes SingleEndHISAT and PairedEndHISAT
  hisat2 = "$repoDir/Software/hisat2-2.2.1/hisat2"
  
  // For process AlignSTAR
  star = "$repoDir/Software/bin/STAR"
  
  // For processes BamSort, PrimaryAlignments and VariantCalls
  samtools = "$repoDir/Software/samtools-1.10/samtools"
  
  // For process FeatureCounts
  featureCounts = "$repoDir/Software/subread-2.0.0-source/bin/featureCounts"
  
  // For process Junctions
  regtools = "$repoDir/Software/regtools-0.5.1/build/regtools"
  
  // For processes WigToBigWig and MeanCoverage
  wigToBigWig = "$repoDir/Software/bin/wigToBigWig"
  
  // For process MeanCoverage
  wiggletools = "$repoDir/Software/WiggleTools/bin/wiggletools"
  bc = "$repoDir/Software/bin/bc"
  
  // For processes VariantCalls and VariantsMerge
  bcftools = "$repoDir/Software/bcftools-1.10.2/bcftools"
  tabix = "$repoDir/Software/bin/tabix"
  
  // For process VariantsMerge
  bgzip = "$repoDir/Software/bin/bgzip"
}
