//  Long command paths, pointing to the pipeline software as installed via
//  `bash install_software.sh` (in the main repository directory). If you have
//  the required software tools installed in the environment you are running
//  the pipeline, you may change these paths manually.

repoDir=System.getProperty("user.dir")

params {
  // For process buildHISATindex
  hisat2build = "$repoDir/Software/hisat2-2.1.0/hisat2-build"
  
  // For processes buildSALMONindex and TXQuant
  salmon = "$repoDir/Software/Salmon-0.8.2_linux_x86_64/bin/salmon"
  
  // For process ERCC
  kallisto = "$repoDir/Software/kallisto_linux-v0.43.0/kallisto"
  
  // For processes QualityUntrimmed and QualityTrimmed
  fastqc = "$repoDir/Software/FastQC/fastqc"
  
  // For process Trimming
  trimmomatic = "$repoDir/Software/Trimmomatic-0.36/trimmomatic-0.36.jar"
  
  // For processes SingleEndHISAT, PairedEndNoTrimHISAT and PairedEndTrimmedHISAT
  hisat2 = "$repoDir/Software/hisat2-2.1.0/hisat2"
  
  // For processes SamtoBam, PrimaryAlignments and VariantCalls
  samtools = "$repoDir/Software/samtools-1.9/samtools"
  
  // For process FeatureCounts
  featureCounts = "$repoDir/Software/subread-1.5.0-p3-Linux-x86_64/bin/featureCounts"
  
  // For process Junctions
  regtools = "$repoDir/Software/regtools-0.3.0/build/regtools"
  
  // For process Coverage
  bam2wig = "$repoDir/Software/RSeQC-2.6.4/bin/usr/local/bin/bam2wig.py"
  
  // For processes WigToBigWig and MeanCoverage
  wigToBigWig = "$repoDir/Software/wigToBigWig"
  
  // For process MeanCoverage
  //wiggletools = // WAITING ON INSTALL LOCATION OF WIGGLETOOLS
  
  // For processes VariantCalls and VariantsMerge
  bcftools = "$repoDir/Software/bcftools-1.9/bcftools"
  tabix = "$repoDir/Software/bin/tabix"
}
