/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 * Assumes the local environment has 16G of memory and
 * 8 CPUs
 */


docker {
  enabled = true
  temp = 'auto'
}

process {

//  executor = 'local'

  $pullGENCODEassemblyfa {
    container = 'libddocker/ubuntu16.04_base:latest'
  }
  $buildHISATindex {
    container = 'libddocker/hisat2-2.0.4:latest'
  }
  $pullGENCODEgtf {
    container = 'libddocker/ubuntu16.04_base:latest'
  }
  $buildPrepBED {
    container = 'libddocker/r3.4.3_base:latest'
  }
  $pullGENCODEtranscripts {
    container = 'libddocker/ubuntu16.04_base:latest'
  }
  $buildSALMONindex  {
    container = 'libddocker/salmon-0.9.1:latest'
  }
}
