/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 * Assumes the local environment has 16G of memory and
 * 8 CPUs
 */


executor {

  local {
    cpus = '8'
    memory = '16 GB'
  }
}

docker {
  enabled = true
  temp = 'auto'
}

process {

  $pullGENCODEassemblyfa {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $buildHISATindex {
    container = 'libddocker/hisat2-2.0.4:1_v2'
  }
  $pullGENCODEgtf {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $buildPrepBED {
    container = 'libddocker/r3.4.3_base:1_v2'
  }
  $pullGENCODEtranscripts {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $buildSALMONindex  {
    container = 'libddocker/salmon-0.9.1:1_v2'
  }
  $sampleMerging {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $sampleERCC {
    container = 'libddocker/kallisto_v0.43.1:1_v2'
  }
  $sampleIndividualManifest {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $sampleManifest {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $sampleQualityUntrimmed { 
    container = 'libddocker/fastqc_v0.11.5:1_v2'
  }
  $sampleAdaptiveTrimSingleReads {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $sampleAdaptiveTrimPairedReads {
    container = 'libddocker/ubuntu16.04_base:1_v2'
  }
  $sampleTrimming {
    container = 'libddocker/trimmomatic-0.36:1_v2'
  }
  $sampleQualityTrimmed {
    container = 'libddocker/fastqc_v0.11.5:1_v2'
  }
  $sampleSingleEndHISAT {
    container = 'libddocker/hisat2-2.0.4:1_v2'
  }
  $samplePairedEndNoTrimHISAT {
    container = 'libddocker/hisat2-2.0.4:1_v2'
  }
  $samplePairedEndTrimmedHISAT {
    container = 'libddocker/hisat2-2.0.4:1_v2'
  }
  $sampleSamtoBam {
    container = 'libddocker/samtools-1.3.1:1_v2'
  }
  $sampleInferExperiment {
    container = 'libddocker/rseqc-v2.6.4:1_v2'
  }
  $sampleInferStrandness {
    container = 'libddocker/r3.4.3_base:1_v2'
  }
  $sampleFeatureCounts {
    container = 'libddocker/subread-1.6.0:1_v2'
  }
  $samplePrimaryAlignments {
    container = 'libddocker/samtools-1.3.1:1_v2'
  }
  $sampleJunctions {
    container = 'libddocker/regtools-0.3.0:1_v2'
  }
  $sampleCoverage {
    container = 'libddocker/rseqc-v2.6.4:1_v2'
  }
  $sampleWigToBigWig {
    container = 'libddocker/wiggletools-1.2:1_v2'
  }
  $sampleMeanCoverage {
    container = 'libddocker/wiggletools-1.2:1_v2'
  }
  $sampleTXQuant {
    container = 'libddocker/salmon-0.9.1:1_v2'
  }
  $sampleCreateCountObjects {
    container = 'libddocker/r3.4.3_base:1_v2'
  }
  $sampleCreateCoverageObjects {
    container = 'libddocker/r3.4.3_base:1_v2'
  }
  $sampleVariantCalls {
    container = 'libddocker/bcftools-1.3.1:1_v2'
  }
  $sampleVariantCallsMerge {
    container = 'libddocker/vcftools-v0.1.15:1_v2'
  }
  $sampleExpressedRegions {
    container = 'libddocker/r3.4.3_base:1_v2'
  }
}
