/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  JHPCE config file
 * -------------------------------------------------
 *
 * A config file designed for the SGE environment on the
 * JHPCE cluster specifically. Takes advantage of lmod modules
 * which are available to JHPCE users, and run particular
 * software versions.
 *
 */

env.OMP_NUM_THREADS = 1
env.OPENBLAS_NUM_THREADS = 1

params {
  gencode_version_human = "32"
  gencode_version_mouse = "M23"
  ensembl_version_rat = "98"
  anno_build = "main" // main or primary (main is canonical seqs only)
  
  num_reads_infer_strand = 2000000
  salmon_min_read_len = 31
  min_intron_len = 20
  bam2wig_depth_thres = 4000000000
  samtools_min_map_q = 0
  samtools_min_base_q = 13
  samtools_max_depth = 1000000
  kallisto_len_mean = 200
  kallisto_len_sd = 30
  
  // Settings for trimmomatic's adapter trimming. Note that the adapter fasta
  // specification is in conf/command_paths_long.config for local pipeline
  // installation and in conf/command_paths_short.config for docker users.
  // Leave empty (i.e. "") to instruct SPEAQeasy to not perform adapter
  // trimming.
  trim_adapter_args_single = "2:30:10"
  trim_adapter_args_paired = "2:30:10:1:TRUE"
  
  // Settings for trimmomatic's quality trimming. Leave empty (i.e. "") to
  // not perform quality trimming.
  trim_quality_args = "LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:75"

  feat_counts_gene_opts = ""
  feat_counts_exon_opts = "-O"
  wiggletools_max_threads = 10 // for computing mean; more threads may be used
}

executor {
  name = 'sge'
  queueSize = 40
  submitRateLimit = '1 sec'
  exitReadTimeout = '30 min'
}

process {

  time = { 10.hour * task.attempt }
  errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
  maxRetries = 1

  cache = 'lenient'

  withName: PullAssemblyFasta {
    cpus = 1
    clusterOptions = '-l mf=2G,h_vmem=2G'
  }
  withName: buildHISATindex {
    cpus = 4
    penv = 'local'
    module = 'hisat2/2.2.0:python/2.7.9'
    clusterOptions = '-l mf=15G,h_vmem=15G -R y'
  }
  withName: PullGtf {
    cpus = 1
    clusterOptions = '-l mf=2G,h_vmem=2G'
  }
  withName: BuildAnnotationObjects {
    cpus = 1
    module = 'conda_R/3.6.x'
    clusterOptions = '-l mf=15G,h_vmem=15G'
  }
  withName: PullTranscriptFasta {
    cpus = 1
    clusterOptions = '-l mf=2G,h_vmem=2G'
  }
  withName: buildSALMONindex  {
    cpus = 6
    penv = 'local'
    module = 'salmon/1.0.0'
    clusterOptions = '-l mf=10G,h_vmem=10G'
  }
  withName: BuildKallistoIndex {
    cpus = 1
    module = 'kallisto/0.46.1'
    clusterOptions = '-l mf=20G,h_vmem=20G'
  }
  withName: PreprocessInputs {
    cpus = 1
    module = 'conda_R/3.6.x'
    clusterOptions = '-l mf=2G,h_vmem=2G,h_fsize=50G'
  }
  withName: CompleteManifest {
    cpus = 1
    module = 'conda_R/3.6.x'
    clusterOptions = '-l mf=2G,h_vmem=2G,h_fsize=50G'
  }
  withName: ERCC {
    cpus = 4
    penv = 'local'
    module = 'kallisto/0.46.1'
    clusterOptions = '-l mf=2G,h_vmem=2G'
  }
  withName: QualityUntrimmed { 
    cpus = 2
    penv = 'local'
    module = 'fastqc/0.11.8'
    clusterOptions = '-l mf=10G,h_vmem=10G -R y'
  }
  withName: Trimming {
    cpus = 4
    penv = 'local'
    module = 'trimmomatic/0.39'
    clusterOptions = '-l mf=4G,h_vmem=4G,h_fsize=80G -R y'
  }
  withName: QualityTrimmed {
    cpus = 2
    penv = 'local'
    module = 'fastqc/0.11.8'
    clusterOptions = '-l mf=10G,h_vmem=10G -R y'
  }
  withName: SingleEndHISAT {
    cpus = 4
    penv = 'local'
    module = 'hisat2/2.2.0:python/2.7.9'
    clusterOptions = '-l mf=5G,h_vmem=5G,h_fsize=500G -R y'
  }
  withName: PairedEndHISAT {
    cpus = 4
    penv = 'local'
    module = 'hisat2/2.2.0:python/2.7.9'
    clusterOptions = '-l mf=5G,h_vmem=5G,h_fsize=500G -R y'
  }
  withName: SamtoBam {
    cpus = 2
    penv = 'local'
    module = 'samtools/1.10'
    clusterOptions = '-l mf=15G,h_vmem=15G,h_fsize=150G -R y'
  }
  withName: InferStrandness {
    cpus = 2
    penv = 'local'
    module = 'conda_R/3.6.x:kallisto/0.46.1'
    clusterOptions = '-l mf=10G,h_vmem=10G,h_fsize=20G -R y'
  }
  withName: FeatureCounts {
    cpus = 4
    penv = 'local'
    module = 'featurecounts/2.0.0'
    clusterOptions = '-l mf=3G,h_vmem=3G -R y'
  }
  withName: PrimaryAlignments {
    cpus = 2
    penv = 'local'
    module = 'samtools/1.10'
    clusterOptions = '-l mf=6G,h_vmem=6G,h_fsize=50G -R y'
  }
  withName: Junctions {
    cpus = 1
    module = 'python/3.7.3:regtools/0.5.1'
    clusterOptions = '-l mf=2G,h_vmem=2G'
  }
  withName: Coverage {
    cpus = 1
    penv = 'local'
    module = 'rseqc/3.0.1'
    clusterOptions = '-l mf=10G,h_vmem=10G,h_fsize=100G'
  }
  withName: WigToBigWig {
    cpus = 1
    module = 'ucsctools'
    clusterOptions = '-l mf=20G,h_vmem=20G,h_fsize=30G'
  }
  withName: MeanCoverage {
    cpus = 5
    penv = 'local'
    module = 'wiggletools/1.2.1:ucsctools'
    clusterOptions = '-l mf=10G,h_vmem=10G -R y'
  }
  withName: TXQuantSalmon {
    cpus = 2
    penv = 'local'
    module = 'salmon/1.0.0'
    clusterOptions = '-l mf=20G,h_vmem=20G -R y'
  }
  withName: TXQuantKallisto {
    cpus = 5
    penv = 'local'
    module = 'kallisto/0.46.1'
    clusterOptions = '-l mf=4G,h_vmem=4G -R y'
  }
  withName: CountObjects {
    cpus = 2
    penv = 'local'
    module = 'conda_R/3.6.x'
    clusterOptions = '-l mf=20G,h_vmem=20G,h_fsize=100G -R y'
  }
  withName: CoverageObjects {
    cpus = 4
    penv = 'local'
    module = 'conda_R/3.6.x'
    clusterOptions = '-l mf=4G,h_vmem=4G,h_fsize=50G -R y'
  }
  withName: VariantCalls {
    cpus = 1
    module = 'samtools/1.10:bcftools/1.10.2:htslib/1.10.2'
    clusterOptions = '-l mf=2G,h_vmem=2G'
  }
  withName: VariantsMerge {
    cpus = 1
    module = 'bcftools/1.10.2:htslib/1.10.2'
    clusterOptions = '-l mf=4G,h_vmem=4G'
  }
  withName: ExpressedRegions {
    cpus = 4
    penv = 'local'
    module = 'conda_R/3.6.x'
    clusterOptions = '-l mf=6G,h_vmem=6G,h_fsize=100G -R y'
  }
}
