/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  JHPCE config file
 * -------------------------------------------------
 *
 * A config file designed for the SGE environment on the
 * JHPCE cluster specifically. Takes advantage of lmod modules
 * which are available to JHPCE users, and run particular
 * software versions.
 *
 */

env.OMP_NUM_THREADS = 1

params {
  num_reads_infer_strand = 2000000
  salmon_min_read_len = 31
  min_intron_len = 20
  bam2wig_depth_thres = 4000000000
  samtools_min_map_q = 0
  samtools_min_base_q = 13
  samtools_max_depth = 1000000
  kallisto_len_mean = 200
  kallisto_len_sd = 30
  trim_clip_single = "2:30:10"
  trim_clip_paired = "2:30:10:1:TRUE"
  trim_lead = 3
  trim_trail = 3
  trim_slide_window = "4:15"
  trim_min_len = 75
  feat_counts_gene_opts = ""
  feat_counts_exon_opts = "-O"
}

process {

  executor = 'sge'

  time = { 2.hour * task.attempt }
  errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }

  maxRetries = 1
  maxErrors = 0

  withName: pullGENCODEassemblyfa {
    cpus = 1
    memory = 2.GB
    clusterOptions = '-l h_vmem=2G'
  }
  withName: buildHISATindex {
    cpus = 4
    penv = 'local'
    memory = 32.GB
    module = 'hisat2/2.1.0'
    clusterOptions = '-l h_vmem=8G -R y'
  }
  withName: pullGENCODEgtf {
    cpus = 1
    memory = 2.GB
    clusterOptions = '-l h_vmem=2G'
  }
  withName: pullGENCODEtranscripts {
    cpus = 1
    memory = 2.GB
    clusterOptions = '-l h_vmem=2G'
  }
  withName: buildSALMONindex  {
    cpus = 8
    penv = 'local'
    memory = 48.GB
    module = 'salmon/1.0.0'
    clusterOptions = '-l h_vmem=6G'
  }
  withName: BuildKallistoIndex {
    cpus = 1
    memory = 10.GB
    module = 'kallisto/0.46.1'
    clusterOptions = '-l h_vmem=10G'
  }
  withName: PreprocessInputs {
    cpus = 1
    memory = 2.GB
    module = 'conda_R/3.6'
    clusterOptions = '-l h_vmem=2G,h_fsize=50G'
  }
  withName: CompleteManifest {
    cpus = 1
    memory = 2.GB
    module = 'conda_R/3.6'
    clusterOptions = '-l h_vmem=2G,h_fsize=50G'
  }
  withName: ERCC {
    cpus = 4
    penv = 'local'
    memory = 8.GB
    module = 'kallisto/0.46.1'
    clusterOptions = '-l h_vmem=2G'
  }
  withName: QualityUntrimmed { 
    cpus = 2
    penv = 'local'
    memory = 10.GB
    module = 'fastqc/0.11.8'
    clusterOptions = '-l h_vmem=5G'
  }
  withName: AdaptiveTrimSingleReads {
    cpus = 1
    memory = 2.GB
    clusterOptions = '-l h_vmem=2G'
  }
  withName: AdaptiveTrimPairedReads {
    cpus = 1
    memory = 2.GB
    clusterOptions = '-l h_vmem=2G'
  }
  withName: Trimming {
    cpus = 4
    penv = 'local'
    memory = 12.GB
    module = 'trimmomatic/0.39'
    clusterOptions = '-l h_vmem=3G -R y'
  }
  withName: QualityTrimmed {
    cpus = 2
    penv = 'local'
    memory = 10.GB
    module = 'fastqc/0.11.8'
    clusterOptions = '-l h_vmem=5G'
  }
  withName: SingleEndHISAT {
    cpus = 4
    penv = 'local'
    memory = 12.GB
    module = 'hisat2/2.1.0'
    clusterOptions = '-l h_vmem=3G,h_fsize=50G -R y'
  }
  withName: PairedEndNoTrimHISAT {
    cpus = 4
    penv = 'local'
    memory = 12.GB
    module = 'hisat2/2.1.0'
    clusterOptions = '-l h_vmem=3G,h_fsize=50G -R y'
  }
  withName: PairedEndTrimmedHISAT {
    cpus = 4
    penv = 'local'
    memory = 12.GB
    module = 'hisat2/2.1.0'
    clusterOptions = '-l h_vmem=3G,h_fsize=50G -R y'
  }
  withName: SamtoBam {
    cpus = 4
    penv = 'local'
    memory = 16.GB
    module = 'samtools/1.9'
    clusterOptions = '-l h_vmem=4G,h_fsize=50G -R y'
    time = 4.hour
  }
  withName: InferStrandness {
    cpus = 5
    penv = 'local'
    memory = 10.GB
    module = 'conda_R/3.6:kallisto/0.46.1'
    clusterOptions = '-l h_vmem=2G -R y'
  }
  withName: FeatureCounts {
    cpus = 4
    penv = 'local'
    memory = 12.GB
    module = 'featurecounts/2.0.0'
    clusterOptions = '-l h_vmem=3G -R y'
  }
  withName: PrimaryAlignments {
    cpus = 4
    penv = 'local'
    memory = 12.GB
    module = 'samtools/1.9'
    clusterOptions = '-l h_vmem=3G -R y'
  }
  withName: Junctions {
    cpus = 1
    memory = 2.GB
    module = 'python/2.7.9:regtools/0.5.1'
    clusterOptions = '-l h_vmem=2G'
  }
  withName: Coverage {
    cpus = 4
    penv = 'local'
    memory = 60.GB
    module = 'python/2.7.9:rseqc/2.6.4:ucsctools'
    clusterOptions = '-l h_vmem=15G,h_fsize=100G -R y'
    time = 7.hour
  }
  withName: WigToBigWig {
    cpus = 1
    memory = 20.GB
    module = 'ucsctools'
    clusterOptions = '-l h_vmem=20G,h_fsize=30G'
  }
  withName: MeanCoverage {
    cpus = 2
    penv = 'local'
    memory = 40.GB
    module = 'wiggletools/1.2.1:ucsctools'
    clusterOptions = '-l h_vmem=20G -R y'
  }
  withName: TXQuant {
    cpus = 1
    memory = 20.GB
    module = 'salmon/1.0.0'
    clusterOptions = '-l h_vmem=20G -R y'
  }
  withName: CountObjects {
    cpus = 2
    penv = 'local'
    memory = 12.GB
    module = 'conda_R/3.6'
    clusterOptions = '-l h_vmem=6G -R y'
  }
  withName: CoverageObjects {
    cpus = 4
    penv = 'local'
    memory = 16.GB
    module = 'conda_R/3.6'
    clusterOptions = '-l h_vmem=4G,h_fsize=50G -R y'
  }
  withName: VariantCalls {
    cpus = 1
    memory = 2.GB
    module = 'samtools/1.9:bcftools/1.9:htslib/1.9'
    clusterOptions = '-l h_vmem=2G'
  }
  withName: VariantsMerge {
    cpus = 1
    memory = 4.GB
    module = 'bcftools/1.9:htslib/1.9'
    clusterOptions = '-l h_vmem=4G'
  }
  withName: ExpressedRegions {
    cpus = 4
    penv = 'local'
    memory = 24.GB
    module = 'conda_R/3.6'
    clusterOptions = '-l h_vmem=6G,h_fsize=100G -R y'
    time = 5.hour
  }
}
