process {

  cpus = '1'
//  memory = '4.GB'
  time = '2.h'
  errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }

  maxRetries = '3'
  maxErrors = '-1'

  $pullGENCODEassemblyfa {
    cpus = { 1 * task.attempt }
    memory = '4.GB'
  }
  $buildHISATindex {
    cpus = '8'
    memory = '14.GB'
  }
  $pullGENCODEgtf {
    cpus = { 1 * task.attempt }
    memory = '4.GB'
  }
  $buildPrepBED {
    cpus = { 8 * task.attempt }
    memory = '14.GB'
  }
  $pullGENCODEtranscripts {
    cpus = '1'
    memory = '4.GB'
  }
  $buildSALMONindex  {
    cpus = { 8 * task.attempt }
    memory = '14.GB'
  }
}
