/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 * 
 *
 * In order to customize the cluster environment for sge-large,
 * simply change the cpu and memory available to the executor
 * as well as each task below
 */


process {

  executor = 'sge'

  penv = 'smp'
  queue = 'mainqueue'

  disk = '2.GB'
  cpus = { 1 * task.attempt }
  memory = { 2.GB * task.attempt }
  time = { 2.hour * task.attempt }
  errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }

  maxRetries = '3'
  maxErrors = '-1'

  withName: pullGENCODEassemblyfa {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: buildHISATindex {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: pullGENCODEgtf {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: buildPrepBED {
    cpus = { 4 * task.attempt }
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: pullGENCODEtranscripts {
    cpus = '1'
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: buildSALMONindex  {
    cpus = { 4 * task.attempt }
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: Merging {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: ERCC {
    cpus = '4'
    memory = '5.GB'
    queue = 'mainqueue'
    disk = '' 
  }
  withName: IndividualManifest {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: Manifest {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: QualityUntrimmed { 
    cpus = { 1 * task.attempt }
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: AdaptiveTrimSingleReads {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: AdaptiveTrimPairedReads {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: Trimming {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: QualityTrimmed {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: SingleEndHISAT {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: PairedEndNoTrimHISAT {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: PairedEndTrimmedHISAT {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: SamtoBam {
    cpus = '4'
    memory = '5.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: InferExperiment {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: InferStrandness {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: FeatureCounts {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: PrimaryAlignments {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: Junctions {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: Coverage {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: WigToBigWig {
    cpus = 1
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: MeanCoverage {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: TXQuant {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: CountObjects {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: CoverageObjects {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: VariantCalls {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: VariantsMerge {
    cpus = { 1 * task.attempt }
    memory = '2.GB'
    queue = 'mainqueue'
    disk = ''
  }
  withName: ExpressedRegions {
    cpus = '4'
    memory = '10.GB'
    queue = 'mainqueue'
    disk = ''
  }
}
