// All containers and singularity settings for SPEAQeasy

repoDir=projectDir

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$repoDir/dockerfiles/singularity_cache"
}

process {
    withName: PullAssemblyFasta {
        container = 'libddocker/ubuntu16.04_base:latest'
    }
    
    withName: buildHISATindex {
        container = 'libddocker/hisat2:2.2.1'
    }
    
    withName: BuildStarIndex {
        container = 'libddocker/star:2.7.8a'
    }
    
    withName: PullGtf {
        container = 'libddocker/ubuntu16.04_base:latest'
    }
    
    withName: PullTranscriptFasta {
        container = 'libddocker/ubuntu16.04_base:latest'
    }
    
    withName: buildSALMONindex  {
        container = 'libddocker/salmon:1.2.1'
    }
    
    withName: BuildKallistoIndex {
        container = 'libddocker/kallisto:0.46.1'
    }
    
    withName: PreprocessInputs {
        container = 'libddocker/bioc_kallisto:3.14'
    }
    
    withName: BuildAnnotationObjects {
        container = 'libddocker/bioc_kallisto:3.14'
    }
    
    withName: CompleteManifest {
        container = 'libddocker/bioc_kallisto:3.14'
    }
    
    withName: ERCC {
        container = 'libddocker/kallisto:0.46.1'
    }
    
    withName: QualityUntrimmed {
        container = 'libddocker/fastqc:0.11.8'
    }
    
    withName: Trimming {
        container = 'libddocker/trimmomatic:0.39'
    }
    
    withName: QualityTrimmed {
        container = 'libddocker/fastqc:0.11.8'
    }
    
    withName: SingleEndHISAT {
        container = 'libddocker/hisat2:2.2.1'
    }
    
    withName: PairedEndHISAT {
        container = 'libddocker/hisat2:2.2.1'
    }

    withName: AlignStar {
        container = 'libddocker/star:2.7.8a'
    }

    withName: BamSort {
        container = 'libddocker/samtools:1.10'
    }

    withName: InferStrandness {
        container = 'libddocker/bioc_kallisto:3.14'
    }

    withName: FeatureCounts {
        container = 'libddocker/subread:2.0.0'
    }

    withName: PrimaryAlignments {
        container = 'libddocker/samtools:1.10'
    }

    withName: Junctions {
        container = 'libddocker/regtools:0.5.33g'
    }

    withName: Coverage {
        container = 'libddocker/rseqc:3.0.1'
    }

    withName: WigToBigWig {
        container = 'libddocker/wiggletools-1.2:1_v4'
    }

    withName: MeanCoverage {
        container = 'libddocker/wiggletools-1.2:1_v4'
    }

    withName: TXQuantSalmon {
        container = 'libddocker/salmon:1.2.1'
    }

    withName: TXQuantKallisto {
        container = 'libddocker/kallisto:0.46.1'
    }

    withName: CountObjects {
        container = 'libddocker/bioc_kallisto:3.14'
    }

    withName: CoverageObjects {
        container = 'libddocker/bioc_kallisto:3.14'
    }

    withName: VariantCalls {
        container = 'libddocker/variant_calling:1.10.2'
    }

    withName: VariantsMerge {
        container = 'libddocker/variant_calling:1.10.2'
    }

    withName: ExpressedRegions {
        container = 'libddocker/bioc_kallisto:3.14'
    }
}
